html,
body {
  height: 100vh;
  width: 100vw;
}

button img {
  width: 100%;
}

#bt1 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 110px;
}

#bt2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 10px;
  top: 160px;
}

#bt3 {
  width: 50px;
  position: absolute;
  height: 50px;
  left: 10px;
  top: 210px;
}



#theframe {
  width: 100%;
  height: 100%;
}

.holder {
  width: 100%;
  height: 100%;
  position: relative;
